/HRTech-WebApi/src/HRTech.Domain/bin/
/HRTech-WebApi/src/HRTech.Domain/obj/
/HRTech-WebApi/src/HRTech.Application/bin/
/HRTech-WebApi/src/HRTech.Application/obj/
/HRTech-WebApi/src/HRTech.Infrastructure/bin/
/HRTech-WebApi/src/HRTech.Infrastructure/obj/
/HRTech-WebApi/src/HRTech.WebApi/bin/
/HRTech-WebApi/src/HRTech.WebApi/obj/